[Desktop Entry]
Version=1.0
Type=Application
Name=ColorSmith
GenericName=Color Manager
Comment=Professional color picker, gradient maker, and palette manager
Keywords=color;picker;rgb;hex;palette;gradient;design;hsv;hsl;cmyk;rgba;css;svg;eyedropper;colorpicker;
Exec=colorsmith
Icon=com.ktechpit.colorsmith
Terminal=false
Categories=Graphics;Utility;Qt;
StartupNotify=true
StartupWMClass=colorsmith
